body {
  margin: 30px 50px 30px;
  padding: 10px;
}

#container {
  width: 800px;
}

footer {
    background-color: #aaa;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color : #fff;
    margin-top:30px;
}

#help {
  margin-right: 35px;
  padding-right: 35px;
}